.main {
  position: absolute;
  width: 450px;
  height: 42vh;
  left: 11vw;
  top: 40vh;
}
.h5 {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: var(--heading-5);
  letter-spacing: var(--heading-5-letter-spacing);
  text-transform: uppercase;
  color: var(--light-blue);
}

.h1 {
  font-size: var(--heading-1);
  font-weight: 400;
  text-transform: uppercase;
  line-height: 172px;
  color: var(--off-white);
}
.text {
  font-family: var(--secondary-font);
  font-weight: 400;
  line-height: 32px;
  font-size: var(--body-text);
  color: var(--light-blue);
}

.main_btn {
  position: absolute;
  cursor: pointer;
  border: none;
  height: 30vh;
  max-height: 274px;
  width: 30vh;
  max-width: 274px;
  border-radius: 50%;
  left: 55vw;
  bottom: 8%;

  font-family: var(--secondary-font);
  font-weight: 400;

  font-size: var(--heading-4);
  line-height: 37px;

  letter-spacing: 2px;

  color: var(--dark-blue);
}

.main_btn:hover {
  box-shadow: 0px 0px 0px 88px rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: 0px 0px 0px 88px rgba(255, 255, 255, 0.1);
  -moz-box-shadow: 0px 0px 0px 88px rgba(255, 255, 255, 0.1);
}

@media (max-width: 950px) {
  .main {
    position: static;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 75vh;
    width: 475px;
    margin: auto;
  }

  .text {
    text-align: center;
  }
  .main_btn {
    position: static;

    margin-top: 7vh;
    justify-self: self-end;
  }
}

@media (max-width: 690px) {
  .main{
    width: 80%;
    height: 90vh;
  }

  .main_btn {
    position: static;

    margin-top: 7vh;
    justify-self: self-end;
  }
}