.main {
  margin: 100px auto;
}
.h5 {
  margin-left: 10%;
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: var(--heading-5);
  letter-spacing: var(--heading-5-letter-spacing);
  text-transform: uppercase;
  color: var(--off-white);
}
.h5 span {
  opacity: 0.25;
  font-weight: 700;
  margin-right: 28px;
}
.tabs {
  display: flex;
  justify-content: flex-end;
}
.navigator {
  list-style: none;
}

.navitem {
  margin: 32px 80px 0 0;
  font-weight: 400;
  width: 80px;
  height: 80px;
  border: 1px solid rgb(255, 255, 255, 0.25);
  border-radius: 50%;
  cursor: pointer;
  font-size: 32px;
  color: var(--off-white);
  text-align: center;
  line-height: 80px;
}
.navitem:hover {
  border: 1px solid rgb(255, 255, 255);
}

.active {
  color: #000;
  opacity: 1;
  background-color: var(--off-white);
}

.content {
  display: flex;
  width: 55%;
  align-items: center;
}

.h6 {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  color: var(--light-blue);
  margin-bottom: 11px;
}
.h3{
    font-size: var(--heading-3);
    font-weight: 400;
    line-height: 64px;
    text-transform: uppercase;
    color: var(--off-white);
    margin-bottom: 17px;
}
.description{
    color: var(--light-blue);
    font-size: var(--body-text);
    font-family: var(--secondary-font);
    font-weight: 400;
    line-height: 32px;
  
    height: 125px;
    width : 70%;
    
}
.landscape {
  display: none;
  height: 20%;
  width: 100%;
  margin-top: 30px;
}

@media (max-width: 950px) {
  .portrait{
    display: none;
  }
  .landscape {
    display: initial;
  }
  .main {
    margin: 30px auto;
  }
  .tabs{
    flex-direction: column-reverse;
    align-items: center;
    gap : 30px;
  }
  .content {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    text-align: center;
  }
  .description{
    width: 80%;
    margin: 0 auto;
  }
  .navigator {
    display: flex;
    gap: 40px;
    margin-bottom: 30px;
  
  }
  .navitem{
    margin: 0;
  }
  
}

@media (max-width : 690px){
  .main{
    height: 90vh;
  }
  .navitem {
    width: 40px;
    height: 40px;
    font-size: 16px;
    line-height: 40px;
  }
  .h3{
    margin-bottom: 0px;
  }
  .description{
    width: 100%;
  }
}